<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= form.label :user_id %></td>
      <td><%= form.text_field :user_id %></td>

      <td><%= form.label :username %></td>
      <td><%= form.text_field :username %></td>
          
      <td><%= form.label :authority %></td>
      <td><%= form.text_field :authority %></td>
          
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
          
      <td><%= form.label :role %></td>
      <td><%= form.text_field :role %></td>
</tr>
</tr>          
      <td><%= form.label :salarycondition %></td>
      <td><%= form.text_field :salarycondition %></td>
          
      <td><%= form.label :ref %></td>
      <td><%= form.text_field :ref %></td>
          
      <td><%= form.submit %></td>

    </tr>
  </table>

      <div class="actions">
        
      </div>

<% end %>
