<p id="notice"><%= notice %></p>

<h4><b>사용자 정보관리<b></h4>
<%= render 'form', profile: @profile %>
<table>
  <thead>
    <tr>
      <th>UserID</th>
      <th>사용자명</th>
      <th>권한</th>
      <th>호칭</th>
      <th>역할</th>
      <th>급여조건</th>
      <th>Ref</th>
      <th align="center" colspan="3">관리</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_id %></td>
        <td><%= profile.username %></td>
        <td><%= profile.authority %></td>
        <td><%= profile.title %></td>
        <td><%= profile.role %></td>
        <td><%= profile.salarycondition %></td>
        <td><%= profile.ref %></td>
        <td><%= link_to '조회', profile %></td>
        <td><%= link_to '편집', edit_profile_path(profile) %></td>
        <td><%= link_to '삭제', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새로운 사용자 정보등록', new_profile_path %>

<% if user_signed_in? %>
    (현 로그인된 사용자명: <%= current_user.username %>, 사용자ID: <%= current_user.id %>)
  <%#= link_to("비밀번호 변경", edit_my_passwords_path) %><%#= link_to("탈퇴", edit_my_resigns_path) %>
<% end %>
<hr>
<p> 
  <%#= link_to("비밀번호 변경", edit_my_passwords_path) %>
  <%#= link_to("탈퇴", edit_my_resigns_path) %>
</p>