<br>
<div align="center">
  <h2>유저정보변경<%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :이름 %> : <%= f.text_field :username, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :암호 %> :
      <%= f.password_field :password, autocomplete: "new-password" %>
      <br><i>(leave blank if you don't want to change it)</i>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :확인 %> : <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <br><i>(암호를 똑 같이 재 입력해 주세요.)</i>
    </div>

    <div class="field">
      <%= f.label :기존 %> :
      <%= f.password_field :current_password, autocomplete: "current-password" %><br/>
      <%= f.label :기존암호 %> <i>(사용중인 암호를 입력해 주세요)</i><br/>
    </div>

    <div class="actions">
      <%= f.submit "변경처리" %>
    </div>
  <% end %>
  <hr>
  <h3>회원 탈퇴</h3>
  <p>회원탈퇴를 하시려면 아래 버튼을 눌러 주십시요. <%= button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "뒤로가기(취소)", :back %>
</div>