<div align="center">
  <br><br>
  <h2>신규 회원가입</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :사용자명 %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :패스워드_최소4자리이상 %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :패스워드확인_재입력 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "회원가입" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>