<p id="notice"><%= notice %></p>

<h1>Code Sexes</h1>

<table>
  <thead>
    <tr>
      <th>Sex</th>
      <th>Priority</th>
      <th>No</th>
      <th>Content</th>
      <th>Ref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_sexes.each do |code_sex| %>
      <tr>
        <td><%= code_sex.sex %></td>
        <td><%= code_sex.priority %></td>
        <td><%= code_sex.no %></td>
        <td><%= code_sex.content %></td>
        <td><%= code_sex.ref %></td>
        <td><%= link_to 'Show', code_sex %></td>
        <td><%= link_to 'Edit', edit_code_sex_path(code_sex) %></td>
        <td><%= link_to 'Destroy', code_sex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code Sex', new_code_sex_path %>
