<p id="notice"><%= notice %></p>

<h1>Code Paymethods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th>Content</th>
      <th>Memo</th>
      <th>Ref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_paymethods.each do |code_paymethod| %>
      <tr>
        <td><%= code_paymethod.name %></td>
        <td><%= code_paymethod.priority %></td>
        <td><%= code_paymethod.content %></td>
        <td><%= code_paymethod.memo %></td>
        <td><%= code_paymethod.ref %></td>
        <td><%= link_to 'Show', code_paymethod %></td>
        <td><%= link_to 'Edit', edit_code_paymethod_path(code_paymethod) %></td>
        <td><%= link_to 'Destroy', code_paymethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code Paymethod', new_code_paymethod_path %>
