<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><b>일정등록:</b></td>
      <td><%= form.label :치료사ID, :size=> "2" %></td>
      <td>
      <%# <%= form.text_field :user_id, :size=> "2" %>
      <%= form.text_field :user_id, readonly: true, :size=> "2", :style => 'text-align: center' %>
      <!-- 이상하게 disabled하면 데이타가 넘어가지 않는다. --> 
      </td>

      <td><%= form.label :치료사명, :size=> "3" %></td>
      <td>
      <%# <%= form.text_field :name, :size=> "3" %>
      
      <%= form.text_field :name, readonly: true, :size=> "3" %>
      </td>

      <td><%= form.label :내담자명 %></td>
      <td><%#= form.text_field :client %><%= form.select("client", Client.all.pluck(:name).sort) %></td>

      <td><%= form.label :날짜 %></td>
      <td><%= form.date_field :date, :size=> "6" %></td>

      <td><%= form.label :시간 %></td>
      <td><%= form.time_field :time, :size=> "4" %></td>
      
      
      <%= form.fields :ref, model: OpenStruct.new(form.object.ref) do |field| %>
        <td><%= form.label :지원 %><%# field.text_field 'paykind', :size=> "3" %>
        <%= field.select("paykind", CodePaykind.all.pluck(:paykind).sort) %>
        <%#= field.select("sex", CodeSex.all.pluck(:sex)) %></td>
        <td><%= form.label :케이스 %><%= field.text_field 'case', :size=> "3" %></td>
      <% end %>

      <td><%= form.submit "일정등록" %></td>
    </tr>

  </table>

  <div class="actions">
    
  </div>
<% end %>
