<p id="notice"><%= notice %></p>

<% hwday = ["일", "월", "화","수", "목","금","토"] %>
<h4 align="center"><b>오늘의 일정(<%= Time.now.strftime("%Y년 %m월 %d일") %>
<%= hwday[Time.now.wday] %>요일)<b></h4>

<table align="center" width="90%" border="1">
  <thead>
    <tr>
      <td align="center" bgcolor="yellow">시간/치료사</td>
      <td align="center" bgcolor="yellow">소장님</td>
      <td align="center" bgcolor="yellow">놀이샘</td>
      <td align="center" bgcolor="yellow">미술샘</td>
      <td align="center" bgcolor="yellow">언어샘</td>
      <td align="center" bgcolor="yellow">인지샘</td>
      <td align="center" bgcolor="yellow">감통샘</td>
      <td align="center" bgcolor="yellow">상담샘</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="center" bgcolor="yellow">10:00</td>
      <td align="center">내담자1</td>
      <td align="center"></td>
      <td align="center">내담자3</td>
      <td align="center"></td>
      <td align="center">내담자5</td>
      <td align="center"></td>            
      <td align="center">내담자7</td>        
    </tr>
    <tr>
      <td align="center" bgcolor="yellow">12:00</td>
      <td align="center"></td>
      <td align="center">내담자3</td>
      <td align="center"></td>
      <td align="center"></td>
      <td align="center">내담자6</td>            
      <td align="center">내담자7</td>
      <td align="center"></td>  
    </tr>  
    <tr>
      <td align="center" bgcolor="yellow">14:00</td>
      <td align="center">내담자3</td>
      <td align="center"></td>
      <td align="center">내담자5</td>
      <td align="center">내담자6</td>            
      <td align="center"></td>
      <td align="center">내담자1</td> 
      <td align="center">내담자2</td> 
    </tr> 
    <tr>
      <td align="center" bgcolor="yellow">16:00</td>
      <td align="center"></td>
      <td align="center">내담자5</td>
      <td align="center">내담자6</td>            
      <td align="center"></td>
      <td align="center">내담자1</td>
      <td align="center">내담자2</td>
      <td align="center"></td>        
    </tr> 
    <tr>
      <td align="center" bgcolor="yellow">18:00</td>
      <td align="center"></td>
      <td align="center"></td>            
      <td align="center">내담자7</td>
      <td align="center"></td>  
      <td align="center">내담자2</td>
      <td align="center"></td>
      <td align="center">내담자4</td>
    </tr>               
  </tbody>  
</table>

<br>
<hr>

<table>
  <thead>
    <tr>
      <th align="center">Array</th>
      <th align="center">시간</th>
      <th align="center">치료사</th>
      <th>치료사</th>
      <th align="center">schToday(0)</th>
      <th align="center">schToday(1)</th>
     </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td align="center">
          <%= schedule.time %>
        </td>

        <td><%= schedule.name %> </td>

        <td align="center">
          <%= schedule.client %>
        </td>

      </tr>      
    <% end %>
  </tbody>
</table>

        
<hr><br>
<h5>오늘의 미결제자</h5>
<p>내담자1</p>
<p><font color="red">오늘의 미결제자 오늘의 일정 테이블에 표시하여 링크되도록...</font></p>

<hr>
<% abcd = [] %>
<% abcd = Array.new %>
<% abcd.push 2 %>
<% abcd << 5 %>
<%= abcd[0] %>
<%= abcd[1] %>
<hr>
<% abcd = [[],[],[]] %>
<% abcd = Array.new %>
<% abcd.push [2,3,4] %>
<% abcd << [4,5,6] %>
<%= abcd[0] %>
<%= abcd[1] %>
<br>
<hr>

  <% i = 0 %>
  <% @schedules.each do |schedule| %>
  <% i = i + 1 %>
    <%= i %>
    <%= schedule.time %>
    <%= schedule.name %>
    <%= schedule.client %> <br> 
  
    <% @j = i %>
  <% end %>
  <hr>
  
  <%= @j %> <br>
 
  <%# abcd = [[],[],[]] %>
  <% abcd = Array.new %>
  <% @schedules.each do |schedule| %>
    <% abcd.push [schedule.time, schedule.name, schedule.client] %>
  <% end %>

  <%= abcd[0] %> <br>
  <%= abcd[1] %> <br>

