<p id="notice"><%= notice %></p>
<h4><b>일정관리(<%= current_user.username %>)<b></h4>
<%= render 'form', schedule: @schedule %>
<hr>
<%= render 'search', schedule: @schedule %>
<hr>

<table>
  <thead>
    <tr>
      <th>치료사</th>
      <th>호칭</th>
      
      <th align="center">날짜(편집)</th>
      <th align="center">시간(삭제)</th>
      <th align="center">내담자(조회)</th>

      <th align="center">datet(Ref)</th>
      <th align="center">yearMonth(Ref)</th>

      <th align="center">지원(Ref)</th>
      <th align="center">케이스(Ref)</th
     </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.name %> </td>
        <td><%#= schedule.user.profile.title %></td>

        <td align="center">
          <%= link_to edit_schedule_path(schedule) do %>
          <%= schedule.date %>
          <% end %>
        </td>
        
        <td align="center">
          <%= link_to schedule, method: :delete, data: { confirm: '삭제하시겠습니까?' } do %>
          <%= schedule.time %>
          <% end %>
        </td>

        <td align="center">
          <%= link_to schedule do %>
          <%= schedule.client %>
          <% end %>
        </td>

        <% schedule.ref['datet'] = ("#{schedule.date} #{schedule.time}").to_datetime %>
        <td><%= schedule.ref['datet'].strftime("%Y/%m/%d") %></td>       
        <td align="center"><%= schedule.ref['datet'].year %>/<%= schedule.ref['datet'].month %></td>       
        <td><%= schedule.ref['paykind'] %></td>                 
        <td><%= schedule.ref['case'] %></td>       
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>
<%#= link_to 'New Schedule', new_schedule_path %>

<h5 style="color:red">수정 보안사항</h5>
<p style="color:red">[Flexbox]보기 변경 시도</p>

