<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthyear %>
    <%= form.text_field :birthyear %>
  </div>

  <div class="field">
    <%= form.label :needs %>
    <%= form.text_field :needs %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.text_field :startdate %>
  </div>

  <%= form.fields :ref, model: OpenStruct.new(form.object.ref) do |field| %>
    <%= form.label :성별 %><%#= field.text_field 'sex' %><%= field.select("sex", CodeSex.all.pluck(:sex)) %>
    <%= form.label :연락처 %><%= field.text_field 'telno' %>
    <%= form.label :보호자구분 %><%= field.text_field 'helperkind' %>
    <%= form.label :신규구분 %><%#= field.text_field 'newor' %><%= field.select("newor", CodeNewor.all.pluck(:name)) %>
  <% end %>

  <div class="actions">
    <%= form.submit "저장" %>
  </div>
<% end %>
