<p id="notice"><%= notice %></p>
<h4><b>결제관리<b></h4>

<%= render 'search_schedule', schedule: @schedule %>

<table>
  <thead>
    <tr>
      <th>해당월</th>
      <th>내담자명</th>
      <th>치료</th>
      <th>치료사(id)</th>
      <th>예약횟기</th>
      <th>이월횟기</th>
      <th>미수횟기</th>
      <th>결제횟기</th>
      <th>지원종류</th>
      <th>단가</th>
      <th>1회 자부담</th>
      <th>결제금액</th>
      <th>상세조회</th>
    </tr>
  </thead>

<%# 연월 및 내담자 이름이 없으면 아래 빈 공간 처리 %>

  <tbody>
<% if (params[:client] != "") and (params[:yearmonth] != "") %> 
    <% @schedules.each do |schedule| %>
      <tr>
        <td align="center"><%#= schedule.ref['datet'].year %>/<%#= schedule.ref['datet'].month %></td>
        <td><%= schedule.client %></td>
        <% @client_fined = schedule.client %>
        <td></td>
        <td><%= schedule.name %>(<%= schedule.id %>)</td>
        <td align="center">
          <%= schedule.reservation_count %>
          <% @case_fined = schedule.reservation_count %>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>
</table>

<hr>
<%= render 'input', payment: @payment %>
<%#= render 'search', payment: @payment %>
<p style="color:red">아래 테이블에는 해당 내담자의 최근 3개월치만 보여 주면 좋을 듯 함</p>
<p style="color:red">[Error] 아래 삭제 클릭이 조회로 바뀌어져 버림. 삭제가 되지 않음> 모두가 그러함</p>

<table>
  <thead>
    <tr>
      <th>내담자</th>
      <th>해당연월</th>
      <th>결제액</th>
      <th>예약회기</th>      
      <th>지불방법</th>
      <th>날짜</th>
      <th>메모</th>
      <th>참조</th>
      <th colspan="3">관리</th>
    </tr>
  </thead>

  <tbody>

    <% @payments.each do |payment| %>
    
      <% if payment.client == @client_fined %>
        <tr>
          <td><%= payment.client %></td>
          <td><%= payment.yearmonth %></td>
          <td><%= payment.payamount %></td>
          <td align="center">4회기</td>
          <td><%= payment.method %></td>
          <td><%= payment.date %></td>
          <td><%= payment.memo %></td>
          <td><%= payment.ref %></td>
          <td><%= link_to '조회', payment %></td>
          <td><%= link_to '편집', edit_payment_path(payment) %></td>
          <td><%= link_to '삭제', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% else %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'New Payment', new_payment_path %>

