<%= form_with(model: code_center) do |form| %>
  <% if code_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code_center.errors.count, "error") %> prohibited this code_center from being saved:</h2>

      <ul>
        <% code_center.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div class="field">
    <%= form.label :telno %>
    <%= form.text_field :telno %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :ref %>
    <%= form.text_field :ref %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
